<h1>Listing user_language_projects</h1>

<table>
  <tr>
    <th>User</th>
    <th>Language project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_language_projects.each do |user_language_project| %>
  <tr>
    <td><%= user_language_project.user %></td>
    <td><%= user_language_project.language_project %></td>
    <td><%= link_to 'Show', user_language_project %></td>
    <td><%= link_to 'Edit', edit_user_language_project_path(user_language_project) %></td>
    <td><%= link_to 'Destroy', user_language_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User language project', new_user_language_project_path %>
