<%= form_for(@sentence_word) do |f| %>
  <% if @sentence_word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sentence_word.errors.count, "error") %> prohibited this sentence_word from being saved:</h2>

      <ul>
      <% @sentence_word.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position %><br />
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :word %><br />
    <%= f.text_field :word %>
  </div>
  <div class="field">
    <%= f.label :sentence %><br />
    <%= f.text_field :sentence %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
