<h1>Listing user_spelling_patterns</h1>

<table>
  <tr>
    <th>Position</th>
    <th>Spelling pattern</th>
    <th>Focus</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_spelling_patterns.each do |user_spelling_pattern| %>
  <tr>
    <td><%= user_spelling_pattern.position %></td>
    <td><%= user_spelling_pattern.spelling_pattern.name %></td>
    <td><%= user_spelling_pattern.focus %></td>
    <td><%= link_to 'Show', [@language_project, user_spelling_pattern] %></td>
    <td><%= link_to 'Edit', edit_language_project_user_spelling_pattern_path(@language_project, user_spelling_pattern) %></td>
    <td><%= link_to 'Destroy', [@language_project, user_spelling_pattern], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User spelling pattern', new_language_project_user_spelling_pattern_path(@language_project) %>
