Hello World!

<ul>
  <li><%= link_to "Language Projects", language_projects_path %></li>
  <li><%= link_to "User Language Projects", user_language_projects_path %></li>
  <li><%= link_to "Grapheme", graphemes_path %></li>
  <li><%= link_to "Phoneme", phonemes_path %></li>
  <li><%= link_to "Spelling Patterns", spelling_patterns_path %></li>
  <li><%= link_to "Words", words_path %></li>
  <li><%= link_to "Word Spelling Patterns", word_spelling_patterns_path %></li>
  <li><%= link_to "Sentences", sentences_path %></li>
  <li><%= link_to "Sentence Words", sentence_words_path %></li>
  <li><%= link_to "Sentence Spelling Patterns", sentence_spelling_patterns_path %></li>
  <li><%= link_to "Sequences", sequences_path %></li>
  <li><%= link_to "Sequence Spelling Patterns", sequence_spelling_patterns_path %></li>
  <li><%= link_to "User Spelling Patterns", user_spelling_patterns_path %></li>
</ul>