<%= form_for(@sentence_spelling_pattern) do |f| %>
  <% if @sentence_spelling_pattern.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sentence_spelling_pattern.errors.count, "error") %> prohibited this sentence_spelling_pattern from being saved:</h2>

      <ul>
      <% @sentence_spelling_pattern.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sentence %><br />
    <%= f.text_field :sentence %>
  </div>
  <div class="field">
    <%= f.label :spelling_pattern %><br />
    <%= f.text_field :spelling_pattern %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
