<%= form_for(@language_project) do |f| %>
  <% if @language_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@language_project.errors.count, "error") %> prohibited this language_project from being saved:</h2>

      <ul>
      <% @language_project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :english_name %><br />
    <%= f.text_field :english_name %>
  </div>
  <div class="field">
    <%= f.label :local_name %><br />
    <%= f.text_field :local_name %>
  </div>
  <div class="field">
    <%= f.label :script %><br />
    <%= f.text_field :script %>
  </div>
  <div class="field">
    <%= f.label :public %><br />
    <%= f.check_box :public %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
