<%= form_for(@sequence) do |f| %>
  <% if @sequence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sequence.errors.count, "error") %> prohibited this sequence from being saved:</h2>

      <ul>
      <% @sequence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :language_project %><br />
    <%= f.text_field :language_project %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
